.header-top{
    display: flex;
}
.header-bottom{
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    padding: 14px 45px ;
    margin-bottom: 70px;
}
.user-profile{
    margin-left: auto;
    color: #CC9933;
    background-image: url(keyboard_tab.svg);
    background-repeat: no-repeat;
    background-position-y: -5px;
    padding-left: 24px;
    display: flex;
    align-items:center ;
    background-position: left;

}
.decoration{
    background-image: url('Rectangle\ .svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    align-items: center;
   
}
.button{
    color: #CC9933;
    border-color: #CC9933;
    border-radius: 10px;
    border-width: 1px;
    text-decoration: none;
    border-style: solid;
    padding: 13px 20px;
    background-color: #fff;
}

.buttons :not(:last-child){
    margin-right: 40px;
}
.buttons{
    margin-left: auto;

}
.nav {
    align-items: center;
    display: flex;
    margin-right:  45px;
    color: #666666;   
    
}
.logo{
    margin: 30px 0;
}
.number{
    display: flex;
    align-items: center;
    margin-left: 40px;
    
}
.card{
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    
    background-size:cover;
    border-radius: 15px;
    width: 100%;
    min-height: 258px;

}
.cards{
    width: calc(50% - 12px);
}
.card-content{
    padding: 25px;
}
.about-us-text{
    margin-bottom: 70px;
    line-height: 2;
}
.card:first-child {
    background-image: url('laguna-1.jpg');
    position: relative;
    margin-bottom: 24px;  
}
.card-list{
    display: flex;
    gap: 24px;
    margin-bottom: 70px;
}
.cards-two{
    display: flex;
    align-items: center;
    width: calc(50% - 12px);
    
    
    
}
body{
    background-color: #F1F1F1;
}
.rectangle{
    display: flex;
    background-image: url('Rectangle\ 2.svg');
    background-size: contain;
    background-repeat: no-repeat;     
}
.rectangle-one{
    background-position: 105px;

}
.rectangle-two{
    background-position: 285px;
}
.rectangle-tree{
    background-position: 240px;
}
.rectangle-four{
    background-position: 355px;
}
.rectangle-five{
    background-position: 360px;
}
.text-link{
    color: #F0BF5F;
    font-size: 20px;
    
}

.block{
    background-color: #fff;
    border-radius: 15px;
    display: inline-flex;
    
    width: 100%;
    min-height: 340px
    
   
} 
.blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-bottom: 70px;
}  
.blocks-two{
    width: 50%;
    width: calc(50% - 11px);
   
    
}

.block-one{
    background-image: url('background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -165px;

} 
.block-text{
    font-size: 16px;
    


}
.text-list-parent{
    display: flex;
    flex-direction: column;
}
.box{
    width: 100%;
    padding-top: 116px;
}
.box-list-tree{
    width: calc(25% - 17px);
    border-radius: 15px;
    padding: 32px 45px;
    background-color: #fff;
    box-sizing: border-box;
    
}
.box-image{
    background-repeat: no-repeat;
    
    
}
.box-image-one{
    background-image: url('bathtub.svg');
}
.box-image-two{
    background-image: url('hanger.svg');
}
.box-image-tree{
    background-image: url('heating.svg');
}
.box-image-four{
    background-image: url('hotel-key.svg');
}
.box-image-five{
    background-image: url('parking\ \(1\).svg');
}
.box-image-six{
    background-image: url('reception.svg');
}
.box-image-seven{
    background-image: url('security-box.svg');
}
.box-image-eight{
    background-image: url('swimming-pool.svg');
}
.box-list{
    display: flex;
    flex-direction: column;
    
}
.box-list-two{
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    flex-direction: row;
}
.box-img{
    
}
.box-text{
    min-width: 160px;
    line-height: 2;
    
    
}
.box-list-tree{
    
   
}
.price{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.product{
    color:#fff ;
    font-weight: 700;
    font-size: 40px;
    max-width: 420px;

}
.product-two{
    color:#fff ;
    font-weight: 700;
    font-size: 60px;
    
}
.price-two{

    color: #fff;
    font-size: 30px;
    font-weight: 400;
}
.subtitle{
    margin-top: 0;
    padding-left:40px;
    font-size: 40px;
    font-weight: 400;
    color: #333;
}
@font-face {
  font-family: 'Mller'; /* Имя, по которому будем вызывать шрифт */
  src: url('Muller_Font.zip') format('woff2'); /* Путь к файлу шрифта */
  src: url('Muller_Font.zip') format('woff'); /* Другие форматы для совместимости */
  font-weight: normal;
  font-style: normal;
}


/* Теперь используем его */
* {
  font-family: 'Mller', sans-serif;
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('darken.svg');
    background-repeat: no-repeat;
    background-size:  cover;
     
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.product{
    position: relative;
    z-index:3 ;
}
.price{
    position: relative;
    z-index: 3;
}
.text-link{
    position: relative;
    z-index: 3;
}
.card:last-child{
    background-image: url('laguna-2.jpg');
    position: relative;
    z-index: 0;
}
.card-two{
    background-image: url('laguna-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.block-text-two{
    margin-top: 190px;
    margin-left: 40px;

}
.block-two{
    background-image: url('background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -165px;
    

}
.card-text{
    padding-left: 45px;
    padding-top: 100px;
    min-height: 180px;
    min-width: 299px;
    margin-top: 88px;
    
    
}
.block-tree{
    background-image: url('background-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -165px;
}
.block-four{
    background-image: url('background-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -165px;
}