@font-face{
    font-family: 'Muller-medium';
    src: local("Muler-Medium"), url("fonts/fonts/MullerMedium.woff2") format("woff2"), url("fonts/fonts/MullerMedium.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Muller-bold';
    src: local("Muller-Bold"), url("fonts/fonts/MullerBold.woff2") format("woff2"), url("fonts/fonts/MullerBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Muller-regular';
    src: local("Muller-Regular"), url("fonts/fonts/MullerRegular.woff2") format("woff2"), url("fonts/fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
}
*{
    font-family: 'Muller', sans-serif;
    font-weight: 400;
}
.tour-input-text{
    margin-left: 4px;
    font-size: 12px;
}